/*border: 1px solid black; */

* {
    margin: 0;
    padding: 0;
  }

html {
    margin: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 600;
    font-size: 36px;
  }

h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 28px;
}

ul {
    margin: 10px 10px;
}



.caption {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.credit {
    font-style: normal;
    font-variant: small-caps;

}

.pullquote {
    font-family: 'Special Elite', cursive;
    font-size: 24px;
}

.container {
    border: 1px solid gray;
    margin: 20px auto;
    padding: 10px;
    
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    
}

.colour {
    display: inline-block;
    width: 100%;
    height: 80px;
    text-align: center;
    margin: 7px;
    padding: 10px;
    font-size: larger;
}

.colour-name {
    font-weight: 700;
    color: white;
    margin-top: 5px;
}

.colour-value {
    color: white;
}

.claret {
    background-color: #8B1E3F;
}

.purple {
    background-color: #3C153B;
}

.etonblue {
    background-color: #89BD9E;
}

.goldcrayola {
    background-color: #F0C987;
}

.bitter {
    font-family: Bitter;
}

.roboto {
    font-family: Roboto;
}

.roboto-condensed {
    font-family: "Roboto Condensed";
}

.special-elite {
    font-family: 'Special Elite', cursive;
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.font-box {
    margin: 10px 10px;
    width: 100%;
    
    
}

.font-label {
    font-size: larger;
    margin-bottom: 5px;
}

